@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

[saved-theme="dark"] body[data-slug="index"] img[src*="banner.svg"] {
  filter: invert(100%);
}


hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}


pre.poetry {
  font-size: 1.2rem;
  font-family: biro_script_standardRgus;
  border: none;
  padding: 0;
}

.meta,
.content-meta {
  font-family: biro_script_standardRgus, var(--bodyFont);
}

// ==============================================================================================
// My Edits 
// ==============================================================================================  

/* Styles for Light Theme */
[saved-theme="light"] table {
  /* Light theme table styles */
  background-color: #ffffff; /* white background for light theme */
  color: #000000; /* black text for light theme */
  border-collapse: collapse;
  width: 90%;
  margin-left: auto; /* Centers the table horizontally by automatically adjusting the left margin */
  margin-right: auto; /* Centers the table horizontally by automatically adjusting the right margin */
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #CFE4FF;
  }
  
  tr:nth-child(even) td {
    background-color: #f9f9f9;
  }
  
  tr:hover td {
    background-color: #f1f1f1;
  }
  
  th {
    text-align: center; /* Center aligns the text in header cells */
    padding: 8px; /* Add padding for spacing */
    font-size: 16.5px;
  }

  caption {
    padding: 8px;
    font-size: larger;
    caption-side: top;
  }
}



/* Styles for Dark Theme */
[saved-theme="dark"] {
  table {
    background-color: #36312A; /* dark gray background for dark theme */
    color: #ffffff; /* white text for dark theme */
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #A19084;
    }

    tr:nth-child(even) td {
      background-color: #2B2519;
    }

    th {
    text-align: center; /* Center aligns the text in header cells */
    padding: 8px; /* Add padding for spacing */
    font-size: 16.5px;
  }

    tr:hover td {
      background-color: #4F483E;
    }

    caption {
      padding: 8px;
      font-size: larger;
      caption-side: top;
    }
  }

//  table.ExtraPadRight {
//    table-layout: fixed;
//
//    td:last-child, th:last-child {
//      width: 20%;
//      padding-right: 92.5px;
//    }
//  }
}













// style for class body (I am leaving it in as a reference for when I want to make settings for a spefic class)
/* Styles for Light Theme */
[saved-theme="light"] .body {
  /* Light theme table styles */
  background-color: #ffffff; /* white background for light theme */
  color: #000000; /* black text for light theme */
  // ... Other light theme styles for table ...
  td {
    border-bottom: 1px solid #F6F4D6;
  }
  tr:nth-child(even) td {
    background-color: #F6F5F5;
  }
  tr:hover td {
    background-color: #f1f1f1;
  }
  caption {
    /* Caption styles for light theme */
  }
}

/* Styles for Dark Theme */
[saved-theme="dark"] .body {
  /* Dark theme table styles */
  background-color: #333333; /* dark gray background for dark theme */
  color: #ffffff; /* white text for dark theme */
  // ... Other dark theme styles for table ...
  td {
    border-bottom: 1px solid #464D58; /* Darker border color for dark theme */
  }
  tr:nth-child(even) td {
    background-color: #1a1a1a; /* Darker shade for even rows in dark theme */
  }
  tr:hover td {
    background-color: #4F483E; /* Darker shade on hover in dark theme */
  }
  caption {
    /* Caption styles for dark theme */
  }
}
